[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
flake8 = "*"
isort = "*"
sentry-sdk = "*"
psycopg2-binary = "*"
requests = "*"
black = "*"
pre-commit = "*"
pytest-django = "*"
celery = "*"
redis = "*"
pytest-cov = "*"
pytest-factoryboy = "*"
pytest = "*"
django-environ = "*"
watchdog = "*"
pyyaml = "*"
argh = "*"
pillow = "*"
drf-spectacular = "*"
africastalking = "*"
djangorestframework-simplejwt = "*"
django-phonenumber-field = "*"
phonenumbers = "*"
djoser = "*"
pyjwt = "*"
django-celery-email = "*"
flower = "*"
django-flower = "*"
twilio = "*"

[dev-packages]

[requires]
python_version = "3.10"
